{% extends '::base.html.twig' %}

{% block title %} Contact Us {% endblock %}

{% block yeld %}
    <!-- Yahoo Map -->
    {#<div id="map"></div>#}
    <!--/ Yahoo Map -->

    <!-- static -->
    <section class="static-push-top-inner">
        <!-- container -->
        <div class="container">
            <article class="text-left title">
                <h2 class="text-blue">Contact Us</h2>
                <div class="clear"></div>
                <hr class="divider" />
                <div class="clear"></div>
            </article>
            <div class="clear"></div>

            <div class="row inner-b contact-us">
                <div class="span7 outer-lft-none">
                    {{ form_errors(form) }}
                    <form method="post" action="{{ path('contact_us') }}" class="inline-blocks" {{ form_enctype(form) }} novalidate="novalidate" >
                        <div class="control-group pull-left">

                            <div class="controls">
                                {{ form_row(form.first_name) }}
                                {{ form_row(form.email) }}
                            </div>
                        </div>

                        <div class="control-group pull-right">
                            <div class="controls">
                                {{ form_row(form.last_name) }}
                                {{ form_row(form.phone) }}

                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="control-group">
                            <div class="controls">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <button type="submit" class="btn blue-btn mid pull-right">Send</button>
                    </form>
                </div>
                <div class="span3">
                    <address>
                        <h4><strong>Address</strong></h4>
                        <ul>
                            <li>Las Vegas, NV, Victory Street 234</li>
                            <li>Phone: 1-23-345-5678-5678</li>
                            <li>Email: info@sharpen.com</li>
                            <li>
                                <div class="social-profiles">
                                    <a href="#" target="_blank"><i class="icon-social-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="icon-social-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="icon-social-linkedIn"></i></a>
                                </div>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>

        </div>
        <!--/ container -->


    </section>
    <!--/ static -->

    <div class="clear"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/main/js/contactus/index.js') }}" ></script>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/main/css/contactus/index.css') }}" />
{% endblock %}