<div style="font-size:22px; padding-bottom:5px;">{{ appointment_type }}</div>
<div class="date-time-line">
    <span><i class="cd-icon"></i> {{ start_date|date('F j, Y') }}</span> &nbsp;|&nbsp;
    <span><i class="clock-icon"></i> {{ start_date|date('g:iA') }} - {{ end_date|date('g:iA') }} ({{ date_diff }} min)</span>
</div>
<div class="payment-information special">
    <form action="" method="post" autocomplete="off" novalidate>
        <fieldset class="pay-feilds">
            <div class="control-group clearfix">
                <input id="step_back" type="submit" value="Back" class="btn blue-btn pull-left">
                <div class="control pull-right">
                    <input type="submit" value="Pay Now" class="btn blue-btn">
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="booking[data]" value="1"/>
        <input type="hidden" name="booking[step]" value="{{ step }}"/>
    </form>
